
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Transmit Message
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item id="rounded">
        <ion-label fixed>Message:</ion-label>
        <ion-input type="text" placeholder="Write here" text-right id="input" [(ngModel)]="inputValue"></ion-input>
        <!--<button onClick=ASCII_2_Binary();>Convert!</button> -->
      </ion-item>    
    </ion-list>

    <ion-button color="primary" expand="block" (click)="toggleFlashlight()"> 
      Send with Flashlight
    </ion-button>

  </div>
</ion-content>
 