<ion-tabs>

<!-- A list of available icons can be found at: https://ionicframework.com/docs/v3/ionicons/-->

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="chatbubbles"></ion-icon> <!-- OR "chatboxes" -->
      <ion-label></ion-label> <!--Add label in between if required-->
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="camera"></ion-icon>
      <ion-label></ion-label> <!--Add label in between if required-->
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="options"></ion-icon>
      <ion-label></ion-label> <!--Add label in between if required-->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
